body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    background: #ffffff;
    font-family: "Poppins", sans-serif;
}

#wrapper {
    width: 100%;
    max-width: 1980px;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

#header {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #889dea;
    color: #ffffff;
    padding: 10px;
    border-radius: 0 0 50px 0;
}
h1 {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    margin: 10px 0;
}

.to-do-list-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 10px;
    margin: 40px 0;
}

.to-do-list-info div {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 12px;
    line-height: 16px;
}

.to-do-list-info-scope,
.to-do-list-info-active,
.to-do-list-info-successful {
    font-weight: 600;
    font-size: 56px;
    line-height: 56px;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
}

.to-do-list-decor {
    width: 100%;
    background: #889dea;
}

.to-do-list-decor-item {
    width: 100%;
    padding: 40px 0;
    display: flex;
    position: relative;
    flex-direction: column;
    background: #ffffff;
    border-radius: 50px 0 0 0;
}

.to-do-list-decor-item::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #88eaa9;
    border-radius: 11px;
}

.to-do-list-decor-item::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    background-image: url("../svg/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.to-do-list-content-body {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
}

.to-do-list-content-item {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 10px 0;
    border-bottom: 1px solid #c7c7c7;
    cursor: pointer;
}

.to-do-list-content-item:hover {
    border-bottom: 1px solid #889dea;
}

.to-do-list-content-item:hover [data-action="updateTodoOn"] {
    filter: invert(57%) sepia(71%) saturate(554%) hue-rotate(195deg)
        brightness(101%) contrast(83%);
}

.to-do-list-task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label,
input[type="checkbox"] + time,
input[type="checkbox"] + time::before {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 16px;
    color: #889dea;
}

input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

input[type="checkbox"] + time::before {
    content: "";
    width: 18px;
    height: 18px;
    margin: 0 4px 0 0;
    border: solid 1px #889dea;
    line-height: 14px;
    text-align: center;
    background: #ffffff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

div .checked {
    text-decoration: line-through;
    color: #bbbbbb;
}

input[type="checkbox"]:checked + time::before {
    content: "";
    background-color: #889dea;
    background-image: url("../svg/done.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

[data-action="updateTodoOn"],
[data-action="updateTodoOff"],
[data-action="deleteTodo"] {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

[data-action="updateTodoOff"] {
    background-image: url("../svg/done.svg");
    filter: invert(57%) sepia(71%) saturate(554%) hue-rotate(195deg)
        brightness(101%) contrast(83%);
}

[data-action="updateTodoOn"] {
    background-image: url("../svg/pencil.svg");
}

[data-action="deleteTodo"] {
    background-image: url("../svg/delete.svg");
}

[data-ph] {
    width: 100%;
    outline: none;
    word-break: break-all;
    padding: 0 18px;
    color: #3f3f3f;
}

[contentEditable]:empty:not(:focus):before {
    content: attr(data-ph);
    color: #bbbbbb;
}

[data-action="createTodo"] {
    width: 100%;
    max-width: 208px;
    display: flex;
    align-items: center;
    text-align: center;
    background: #88eaa9;
    color: #ffffff;
    padding: 12px 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border-radius: 11px;
    margin: 25px 0;
}

[data-action="createTodo"]::before {
    content: "";
    margin-right: 10px;
    width: 15px;
    height: 15px;
    background-image: url("../svg/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.disabled {
    pointer-events: none;
}

#footer {
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
}
